.radio {
    display:  flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.radio::before {
}


.radio:checked::before {
}

.label {
    display: inline-flex;
    flex-wrap: nowrap;
    gap:11px;
}

.options {
    display: flex;
    gap:17px;
    flex-direction: column;
    padding-left: 108px;
    flex-wrap: wrap;
}
