.item {
    border-bottom: 1px solid #E5E5E5;
    font-family: Roboto, sans-serif;
}

.item:last-of-type {
    border-bottom: none
}

.users {
    height: 100%;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 1px;
    text-align: left;
}

.buttonsContainer {
    display: flex;
    justify-content: flex-end;
    gap:12px;
}

.container {
    width: 600px;
    display: flex;
    flex-direction: column;
    gap:18px;
}

.thead {
    background-color: #dededf;
    color: #000000;
    padding: 5px;
    font-weight: 600;
    font-family: Roboto, sans-serif
}

.nameCol {
    color: #000000;
    padding: 10px;
}

.ageCol {
    color: #000000;
    padding: 5px;
}